

.App {
  text-align: center;
}

main {
  margin: 0;
  padding : 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header_logo{
  width: 75px
}


.bg-image {
  padding: 0;
  margin: 0;
  max-height: 40vh;
  width: 100vw;
  object-fit: cover;
  filter: grayscale(50%);

}

.photo {
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.header{
  position: sticky;
  margin-left: 15%;
  margin-right: 15%;
}

.scrolled-header {
  position: sticky;
  margin-left: 15%;
  margin-right: 15%;
}

.header-container {
  transition: background-color 0.3s ease;
}

.scrolled-header-container {
  background:scroll;
  transition: background-color 0.3s ease;
  background-color: #f5f5f5;
}

.site-content {
  margin-top: 5%;
}

li {
  list-style-type: none ;
}

footer {
  background-color: #f5f5f5;
  text-align: center;
  height: 32px;
  width: 100%;
  bottom: 0;
}

.about-us-section {
 margin-left: 15%;
 margin-right: 15%; 
}

.about-us-p {
  margin-left: 5%;
}